<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Calculadora científica</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Calculadora científica</h1>
    <hr>
    <input type="text" id="display" readonly>
    <table>
    <tr>
            <td onclick="display.value += '7'">7</td>
            <td onclick="display.value += '8'">8</td>
            <td onclick="display.value += '9'">9</td>
            <td onclick="display.value += '+'">+</td>
        </tr>
        <tr>
            <td onclick="display.value += '4'">4</td>
            <td onclick="display.value += '5'">5</td>
            <td onclick="display.value += '6'">6</td>
            <td onclick="display.value += '-'">-</td>
        </tr>
        <tr>
            <td onclick="display.value += '1'">1</td>
            <td onclick="display.value += '2'">2</td>
            <td onclick="display.value += '3'">3</td>
            <td onclick="display.value += '*'">*</td>
        </tr>
        <tr>
            <td onclick="display.value += '0'">0</td>
            <td onclick="display.value += '.'">.</td>
            <td onclick="calculate()">=</td>
            <td onclick="display.value += '/'">/</td>
        </tr>
        <tr>
            <td onclick="clearDisplay()">C</td>
            <td onclick="sqrt()">√</td>
            <td onclick="power()">^</td>
            <td onclick="log()">log</td>
        </tr>
    </table>

    <script src="js/calculadora.js"></script>
</body>
</html>
